.DS_STORE
/node_modules
/public/hot
/public/storage
/public/assets
/public/fonts
/public/mix-manifest.json
/storage/debugbar
/storage/*.key
/vendor
.ssh
.auth
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
