* {
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-width: 320px;
    background-color: #fff;
    line-height: 12px;
    font-family: 'Muli-Light', sans-serif;

    &.ff-theme {
        background-color: #edece7;
    }
}

p {
    margin: 0;
}

ul {
    list-style: none;
}

#app {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content {
    flex: 1 0 auto;
}

.default_button {
    border-radius: 3px;
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Avenir-Black', sans-serif;
    font-size: 14px;
    letter-spacing: 0.22em;
    line-height: 17px;
    color: rgb(27, 53, 61);
    background-color: rgb(237, 236, 231);

    &:hover, &:active, &:focus {
        color: rgb(27, 53, 61);
        background-color: darken(rgb(237, 236, 231), 10%);
        text-decoration: none;
    }
}

.hide {
    display: none;
}

.quantity {

    &_minus, &_plus {
        cursor: pointer;
    }

    &_count {
        padding: 0 5px;
    }

    &_minus {
        padding-right: 5px;
    }

    &_plus {
        padding-left: 5px;
    }
}

.cta {
    display: block;
    margin-top: 29px;
    width: 100%;
    padding: 13px 10px 12px;
    text-align: center;
    background-color: #1b353d;
    border: none;
    cursor: pointer;
    outline: none;
    font-size: 12px;
    font-family: 'Muli-Bold', sans-serif;
    color: #ffffff;
    letter-spacing: 0.22em;
    line-height: 14px;
    text-transform: uppercase;

    &:hover {
        background-color: darken(#1b353d, 10%);
    }

    &:disabled {
        background-color: #a5a7aa;
    }
}


.quantity>.quantity__value>.quantity_input>.number-input__input {
    text-align: center;
    border: none;
    background-color: inherit;
    width: 70px;
    padding: 0px;
}
.cart_item_content_bottom>.quantity>.quantity_input>.number-input__input {
    text-align: center;
    border: none;
    background-color: #edece7;
    width: 70px;
    padding: 0px;
    margin-top: -3px;
}
.cart_item_content_bottom {
    .quantity {
        display: flex;
    }
}


.calculator {
    .size {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 7px;
    }

    .quantity {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 7px;

        @media screen and (max-width: 400px) {
            margin-top: 15px;
        }

        &__value {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 15px 0 0;

            .symbol {
                font-size: 12px;
                font-family: 'Muli-Light', sans-serif;
                color: #1b353d;
                line-height: 18px;
                cursor: pointer;
                user-select: none;
            }

            .number {
                font-size: 12px;
                font-family: 'Muli-Light', sans-serif;
                color: #1b353d;
                line-height: 18px;
            }
        }
    }

    .price {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-bottom: 1px solid #ffffff;
        padding-bottom: 7px;

        @media screen and (max-width: 400px) {
            margin-top: 15px;
        }

        &__value {
            font-size: 16px;
            font-family: 'Muli-Bold', sans-serif;
            color: #1b353d;
            line-height: 18px;
            margin: 15px 0 0;
        }
    }
}

.pointer {
    cursor: pointer;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .6s;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}
::i-block-chrome, .row {
    display: -webkit-box;
}